/* **************** */
/* Custom Variables */
/* **************** */
:root {
    /* FONTS */
    --ff-primary: 'Rubik', sans-serif;
    /* FONT SIZES */
    --fs-300: .938rem;
    --fs-400: 1.125rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;
    /* FONT WEIGHTS */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;
    /* COLORS */
    /* Primary Colors */
    --clr-light-orange: hsl(15, 100%, 70%);
    --clr-soft-blue: hsl(195, 74%, 62%);
    --clr-light-red: hsl(348, 100%, 68%);
    --clr-lime-green: hsl(145, 58%, 55%);
    --clr-violet: hsl(264, 64%, 52%);
    --clr-soft-yellow: hsl(43, 84%, 65%);
    /* Neutral Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-blue: hsl(246, 80%, 60%, 1);
    --clr-hover-blue: hsla(236, 41%, 34%, 1);
    --clr-dark-blue: hsl(235, 46%, 20%);
    --clr-desaturated-blue: hsl(235, 45%, 61%);
    --clr-pale-blue: hsl(236, 100%, 87%);
    /* Dark background */
    --bg-primary: hsl(226, 43%, 10%);
    /* BORDER RADIUS */
    --br-soft: 15px;
    --br-round: 50%;
    /* Transition */
    --tr-primary: 0.5s all ease;
  }
  
  /* RESET */
  /* Josh Comeau custom css reset */
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html, body {
    min-height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  /* BASE STYLES */
  body {
    min-height: 100vh;
    display: grid;
    place-items: center stretch;
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    color: var(--clr-white);
    background: var(--bg-primary);
  }
  
  main {
    max-width: 100%;
    padding: 5rem 1.5rem;
  }
  
  h1, h2 {
    line-height: 1.2;
  }
  
  .dashboard-container h2 {
    font-size: var(--fs-400);
  }
  
  .dashboard-container {
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    display: grid;
    align-items: start;
    gap: 1.5rem;
  }
  
  
  /* User Card Styles */
  .user-card,
  .user-card-details,
  .result-card,
  .result-card-content {
    border-radius: var(--br-soft);
  }
  
  .user-card-details,
  .period-selectors {
    display: flex;
  }
  
  .user-card-details {
    padding: 2rem 2.25rem;
    align-items: center;
    gap: 1.25rem;
    background: var(--clr-blue);
  }
  
  .user-card-details img {
    width: 4rem;
    border: 3px solid var(--clr-white);
    border-radius: var(--br-round);
  }
  
  .user-card-title h1 {
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
  }
  
  .user-card-title p {
    font-size: var(--fs-300);
  }
  
  .user-card-title p,
  .previous-result {
    color: var(--clr-pale-blue);
  }
  
  .period-selectors {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
    color: var(--clr-desaturated-blue);
  }
  
  .user-card,
  .result-card-content {
    background: var(--clr-dark-blue);
  }
  
  /* Result Card Styles */
  .result-card {
    padding-top: 2.375rem;
    background-repeat: no-repeat;
  }
  
  .work {
    background-image: 
      url("../images/icon-work.svg"), linear-gradient(var(--clr-light-orange) 60%, var(--bg-primary) 40%);
      background-position: 90% -12%;
  }
  .play {
    background-image: 
      url("../images/icon-play.svg"), linear-gradient(var(--clr-soft-blue) 60%, var(--bg-primary) 40%);
      background-position: 90% -5%;
  }
  .study {
    background-image: 
      url("../images/icon-study.svg"), linear-gradient(var(--clr-light-red) 60%, var(--bg-primary) 40%);
      background-position: 90% -5%;
  }
  .exercise {
    background-image: 
      url("../images/icon-exercise.svg"), linear-gradient(var(--clr-lime-green) 60%, var(--bg-primary) 40%);
      background-position: 90% 0%;
  }
  .social {
    background-image: 
      url("../images/icon-social.svg"), linear-gradient(var(--clr-violet) 60%, var(--bg-primary) 40%);
      background-position: 90% -12%;
  }
  .self-care {
    background-image: 
      url("../images/icon-self-care.svg"), linear-gradient(var(--clr-soft-yellow) 60%, var(--bg-primary) 40%);
      background-position: 90% -5%;
  }
  
  .result-card-content {
    padding: 1.75rem 1.5rem;
    display: flex;
    flex-direction: column;
    transition: var(--tr-primary);
  }
  
  .result-card-content:hover,
  .period-select:hover {
    cursor: pointer;
  }
  
  .period-select:hover {
    color: var(--clr-white);
    transition: var(--tr-primary);
  }
  
  .result-card-content:hover {
    background: var(--clr-hover-blue);
  }
  
  .result-header,
  .result-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .result-header h2 {
    font-weight: var(--fw-bold);
  }
  
  .current-result {
    font-size: var(--fs-700);
    font-weight: var(--fw-light);
  }
  
  .previous-result {
    font-size: var(--fs-300);
    font-weight: var(--fw-regular);
  }
  
  /* Selected period class */
  .active {
    color: var(--clr-white);
  }
  
  @media (min-width: 575px) {
    .dashboard-container {
      max-width: 720px;
      grid-template-columns: 1fr 1fr;
    }
    .dashboard-card {
      transition: 0.5s all ease;
    }
    .dashboard-card:hover {
      transform: scale(1.03);
    }
    .user-card {
      grid-column: 1 / span 2;
    }
    .user-card-details,
    .period-selectors {
      padding: 2rem;
      flex-direction: column;
      align-items: flex-start;
    }
    .user-card-details {
      gap: 2.625rem;
    }
    .user-card-details img {
      width: 4.875rem;
    }
    .user-card-details h1 {
      font-size: var(--fs-800);
    }
    .period-selectors {
      gap: 1.25rem;
    }
    .result-card {
      padding-top: 2.875rem;
    }
    .result-card-content {
      gap: 1.25rem;
    }
    .result-body {
      flex-direction: column;
      align-items: flex-start;
    }
    .current-result {
      font-size: var(--fs-900);
    }
  }
  
  @media (min-width: 900px) {
    .dashboard-container {
      max-width: 1120px;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.875rem;
    }
    .user-card {
      grid-column: 1;
      grid-row: 1 / span 2;
      place-self: stretch;
    }
    .user-card-details {
      padding-bottom: 5rem;
    }
  }